<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <strong><a class="navbar-brand" href="/">San Roque App</a></strong>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Recompensas
                        <i class="fas fa-coins"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/market">Tienda</a></li>
                        <li><a class="dropdown-item" href="/userprofile">Mi perfil</a></li>
                        <li>
                    </ul>
                </li>
            </ul>
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav ms-auto">
                <a class="nav-link" href="{{ url_for('logout_page') }}">Cerrar sesión</a>
            </ul>
            {% else %}
            <ul class="navbar-nav ms-auto">
                <a class="nav-link" href="{{ url_for('login_page') }}">Inicia sesión</a>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>