<style>
  .modal-content {
    background-color: #212121
  }
</style>

<!-- Vender este artículo -->
<div class="modal fade" id="Modal-VenderArt-{{ owned_item.id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ owned_item.name }}
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ selling_form.hidden_tag() }}
                    <div class="text-center">
                        <h4>
                            Seguro que quieres cancelar {{ owned_item.name }} por {{ owned_item.price }} puntos?
                        </h4>
                        <br>
                        <h6>
                            Al presionar "Cancelar" estás aceptando cancelar el pedido
                        </h6>
                        <br>
                        <input id="sold_item" name="sold_item" type="hidden" value="{{ owned_item.name }}">
                        {{ selling_form.submit(class="btn btn-outline-danger btn-block") }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Cerrar
                </button>
            </div>
        </div>
    </div>
</div>