{% extends 'base.html' %}

{% block title %}
San Roque App
{% endblock %}

{% block content %}
<div class="container p-2">
    <br>
    <h3>Manufacturera San Roque®</h3>
    <br>
    <div class="text-center">
        <h2>¿Quiénes somos?</h2>
    </div>
    <br>
    <div class="about">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis nihil fugiat libero neque, iusto dolor,
            assumenda
            numquam corrupti provident quod architecto quaerat, vitae illo laboriosam non sed. Voluptates ut velit
            excepturi
            ducimus optio quod eligendi similique numquam cupiditate odit. Rerum voluptates veniam, impedit cupiditate
            sed
            possimus ab itaque accusantium commodi dicta necessitatibus, alias aliquid cumque nisi enim non tenetur
            delectus
            temporibus consequuntur laudantium eius excepturi reprehenderit facere magnam! Iste sed laudantium omnis
            deleniti
            autem. Provident tenetur consequuntur ullam fugit. Quibusdam veniam dolorem aspernatur. Maxime dolores
            libero
            voluptates autem provident repellendus harum consequatur, minus quis magni animi neque illo odit facere
            saepe a
            labore sapiente molestias hic, laudantium et fugit numquam est atque? Voluptates nisi aut officia aspernatur
            incidunt officiis autem corporis optio minus et libero excepturi facere enim neque nesciunt, sapiente
            impedit
            quisquam soluta nam. Voluptas amet iusto dicta, est deserunt, alias eum cum inventore veritatis molestiae
            aspernatur
            tempore. In, eum recusandae. Maxime, quaerat.
            Ex, minima totam! Soluta dolor distinctio et error quisquam,
            voluptatem sint asperiores at magnam illo doloremque, quis, ratione deserunt itaque minus? Eius aperiam
            provident
            aspernatur perferendis magni fugiat non sed, nam esse corporis corrupti commodi! Reiciendis debitis qui
            distinctio
            similique aperiam harum mollitia culpa tenetur expedita ut. Quasi debitis modi atque nam quaerat odit,
            minima
            doloremque blanditiis dolorum facere repellat, sed, voluptatibus vero iure. Dignissimos, ea. Error voluptas
            laborum
            consectetur ea autem quo explicabo nulla! Ducimus maiores nihil, hic excepturi nesciunt obcaecati quibusdam
            tempore
            nisi ipsa itaque impedit dignissimos! Laboriosam dolorem aspernatur sed repudiandae temporibus omnis eum
            illum
            quis
            voluptatibus voluptate consequatur culpa enim animi accusantium dolorum placeat qui voluptas, veniam nobis.
            Eum,
            delectus. Tempore deleniti soluta sed consequuntur quis? Tempore earum, quam in labore ducimus neque aperiam
            temporibus sunt tenetur natus mollitia quae doloribus quo laboriosam eius perferendis necessitatibus
            accusamus
            quas iste illo vero quisquam?</p>
    </div>
    {% endblock %}