{% extends 'base.html' %}

{% block title %}
San Roque App
{% endblock %}

{% block content %}
<br>
<div class="container p-2">
    <h2>21 de enero de 2022</h2>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Nombre, encargo o depto." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>
<br>
<table class="table table-hover table-light">
    <thead class="table table-hover table-dark">
        <tr>
            <!-- Your Columns HERE -->
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Nombre</th>
            <!-- <th scope="col">Departamento</th> -->
            <th scope="col">Encargo</th>
            <th scope="col">Panel</th>
            <!-- <th scope="col">Actividad</th> -->
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for worker in workers %}
        {% include 'includes/workers_modals.html' %}
        <tr>
            <!-- <td>{{ worker.id }}</td> -->
            <td>{{ worker.fullname }}</td>
            <!-- <td>{{ worker.department }}</td> -->
            <td>{{ worker.role }}</td>
            {% if current_user.is_authenticated %}
            <td>
                <img type="button" data-bs-toggle="modal" data-bs-target="#Modal-Ver-{{ worker.id }}"
                 src="{{url_for('static', filename='tasks32.png')}}"
                 alt="">
            </td>
            {% else %}
            <td>
                <!-- Button helps login -->
                <a href="{{ url_for('login_page') }}">Entrar</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}