{% extends 'base.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
<br>
<div class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4"
                 src="{{url_for('static', filename='login.png')}}"
                 alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Inicia sesión
            </h1>

            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Usuario") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Contraseña") }}

            <br>
            <div class="checkbox mb-3">
               <h6>¿No tienes cuenta aún?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Regístrate</a>
            </div>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</div>
<br>
{% endblock %}