{% extends 'base.html' %}

{% block title %}
Página del Bazar
{% endblock %}

{% block content %}
<br>
<div class="text-center">
    <h2>Programa de Recompensas</h2>
    <h6>¡Cambia tus fichas de asistencia por increibles productos!</h6>
</div>
<div class="row" style="margin-bottom:13px;">
    <font size="5"><a class="nav-link text-center" style="color: rgb(0, 109, 252); font-weight: bold">
            <i class="fas fa-coins"></i>
            {{ current_user.prettier_budget }}
        </a></font>
</div>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Artículo</th>
            <!-- <th scope="col">Código</th> -->
            <th scope="col">Precio</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for item in items %}
        {% include 'includes/items_modals.html' %}
        <tr>
            <!-- <td>{{ item.id }}</td> -->
            <td>{{ item.name }}</td>
            <!-- <td>{{ item.barcode }}</td> -->
            <td>{{ item.price }}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#Modal-MasInfo-{{ item.id }}">
                    Más Info
                </button>
                <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                    data-bs-target="#Modal-ComprarArt-{{ item.id }}">
                    Comprar
                </button>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}