{% extends 'base.html' %}
{% block title %}
Pagina del Bazar
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-8">
        <h2>Artículos disponibles en el Bazar ChingOnline</h2>
        <p>Click en un artículo para empezar a comprar</p>
        <br>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Artículo</th>
                <th scope="col">Código</th>
                <th scope="col">Precio</th>
                <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
            {% include 'includes/items_modals.html' %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.barcode }}</td>
                <td>${{ item.price }} mxn</td>
                <td>
                    <button class="btn btn-outline btn-info" data-toggle="modal"
                            data-target="#Modal-MasInfo-{{ item.id }}">Más Info
                    </button>
                    <button class="btn btn-outline btn-success" data-toggle="modal"
                            data-target="#Modal-ComprarArt-{{ item.id }}">Comprar este artículo
                    </button>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2>Artículos comprados</h2>
        <p>Click en vender artículo para ponerlo a la venta</p>
        <br>
        <div class="row">
            {% for owned_item in owned_items %}
            {% include 'includes/owned_items_modals.html' %}
            <div class="col-md-6">
                <div style="margin-bottom: 5px" class="card text-center bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{ owned_item.name }}</h5>
                        <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                data-toggle="modal" data-target="#Modal-VenderArt-{{ owned_item.id }}">
                            Vender este artículo
                        </button>
                        <p class="card-text"><strong>
                            Valor: ${{ owned_item.price }} mxn
                        </strong></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}