{% extends 'base.html' %}

{% block title %}
Perfil de usuario
{% endblock %}

{% block content %}
<div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-11">
        <p>¡Hola {{ current_user.username }}! aquí puedes gestionar tus compras o añadir fondos a tu cuenta</p>
        <h2>Artículos comprados</h2>
        <br>
        <div class="row">
            {% for owned_item in owned_items %}
            {% include 'includes/owned_items_modals.html' %}
            <div class="col-md-6">
                <div style="margin-bottom: 5px" class="card text-center bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{ owned_item.name }}</h5>
                        <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                data-toggle="modal" data-target="#Modal-VenderArt-{{ owned_item.id }}">
                            Vender artículo
                        </button>
                        <p class="card-text"><strong>
                            Valor: ${{ owned_item.price }} mxn
                        </strong></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-11 text-center">
        <h2>Añadir fondos</h2>
        <a href="#">Fondear a través de VISA</a>
        <br>
        <a href="#">Fondear a través de MasterCard</a>
        <br>
        <a href="#">Fondear a través de OXXO</a>
        <br>
        <a href="#">Fondear a través de Bitcoin</a>
    </div>
<div/>
{% endblock %}