{% extends 'base.html' %}

{% block title %}
Perfil de usuario
{% endblock %}

{% block content %}
<div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-11">
        <p>¡Hola {{ current_user.username }}! aquí puedes ver los productos que has comprado</p>
        <h2>Artículos comprados</h2>
        <br>
        <div class="row">
            {% for owned_item in owned_items %}
            {% include 'includes/owned_items_modals.html' %}
            <div class="col-md-6">
                <div style="margin-bottom: 5px" class="card text-center bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{ owned_item.name }}</h5>
                        <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                data-bs-toggle="modal" data-bs-target="#Modal-VenderArt-{{ owned_item.id }}">
                            Cancelar pedido
                        </button>
                        <p class="card-text"><strong>
                            Valor: {{ owned_item.price }} pts
                        </strong></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-11">
        <h2>Términos y condiciones</h2>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div style="margin-bottom: 5px" class="card text-center bg-dark">
                    <div class="card-body">
                        n/a
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}